@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(https://i.pinimg.com/originals/19/8b/2f/198b2f01e73b905772279616eccc7c65.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px,100vw);
    height: 90vh;
    width: 100vw;
    position: relative;
}
.main .box{
    position:absolute;
    opacity: 0.75;
    top: 0;
    height: 90vh;
    width: 100%;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 69px;
    padding: 10px;
}
nav svg{
    position: relative;
    z-index: 10;
    height: 2.5rem;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: "Poppins", sans-serif;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 32px;
    gap: 15px;
    padding: 23px;
}
.hero> :nth-child(1){
    font-size: 52px;
    font-weight: 900;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.hero> :nth-child(3){
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}
.span{
    width: 45vw;
}
.curve-in{
    height: 10vh;
    width: 100vw;
    background: linear-gradient(to right,#630616,red,#630616);
    position: relative;
    top: 6%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
.curve-out{
    height:100% ;
    width: 100%;
    background: radial-gradient(ellipse at 50% 0,#040450, black 50%);
    position: absolute;
    top: 5%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}
.btn{
    padding: 6px 18px;
    border-radius: 5px;
    background-color: rgba(23,23,23,0.7);
    color: white;
    font-size: 14px;
}
.rd{
  background-color: red;
  padding: 8px 22px;
  font-size: 25px;
}
.rd-sm{
  background-color: red;
}
.hero input{
    background-color: rgba(23,23,23,0.7);
    color: white;
    border-radius: 5px;
    padding: 11px 81px 14px 18px;
    font-size: 16px;
    text-align: left;
    border: 1px solid rgba(248, 247, 247, 0.3);
    font-weight: 500;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}